@charset "UTF-8";

@font-face {
    font-family: "Apple01";
    src: url(../fontes/SFProDisplay-Regular.ttf);
}

:root {
    --cor01: #1D1D1F;
    --cor02: #FFFFFF;
    --cor03: #d3d3d3;
    --blue: #0066CC;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    max-width: 100%;
}

nav {
    max-width: 10000vh;
    background-color: var(--cor01);
    text-align: center;
    font-family: "Apple01";
    font-size: 14px;
    padding: 5.5px 0px 7.5px 0px;
    margin-left: auto;
    margin-right: auto;
}

nav img {
    margin-top: auto;
    max-width: auto;
}

nav > a {
    color: var(--cor03);
    text-decoration: none;
    max-width: 100%;
    padding-bottom: 5px;
    padding-left: 50px;
}

main {
    max-width: 1000vh;
}

main > h1 {
    font-family: "Apple01";
    font-size: 3em;
    font-weight: bold;
    color: var(--cor01);
    text-align: center;
    padding: 50px 0px 30px 0px;
}

main img {
    display: block;
    margin-left: auto;
    margin-right: 800px;
}

div#container {
    position: relative;
    max-width: 2000px;
}

#content {
    position: absolute;

    left: 33%;
    top: 90%;

    transform: translate(90%, -230%);
}

#content > h1 {
    max-width: 300px;
    font-family: "Apple01";
    font-size: 22px;
    color: var(--cor01);
}

#content > p {
    max-width: 300px;
    font-family: "Apple01";
    font-weight: bold;
    font-size: max(30px, 5vw);
    color: var(--cor01);

}